.footer{
    background-color: $background-principal;
    .container-footer{
        display: grid;
        grid-template-columns: 161px 161px;
        grid-template-rows: 1fr;
        .footer-contactos{
            @include flex(column,none,none,none);
            gap: 20px;
            width: 160px;
            .ubicacion a{
                color: #fff;
                text-decoration: none;
            }
            .whatsapp a{
                @extend .ubicacion;
            }
            .instagram a{
                @extend .ubicacion;
            }
            .twiter a{
                @extend .ubicacion;
            }
            .facebook a{
                @extend .ubicacion;
            }
        }
        .container-footer-navbar{
            width: 160px;
            nav{
                width: 160px;
            }
            .navbar-footer{
                @include flex(column,none,center,none);
                list-style: none;
                gap: 10px; 
                height: 300px;
                li{
                    a{
                        color: #fff;
                        text-decoration: underline;
                    }
                    a:hover{
                        transition: .5s;
                        background-color: #9BA4B5;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}